body {
    font-family: sans-serif;
    background: #1F1C21;
    overscroll-behavior: contain;
    color: white;
}


h1 {
    text-align: center;
    font-weight: bold;
    color: #63ffff;
}


h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: -10px;
}

#console {
    position: absolute;
    z-index: 10;
    color: black;
}

#form_container {
    padding: 20px;
}


#processing_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: black;
    text-align: center;
    display: none;
}

#processing_gif {
    width: 50%;
    margin-top: 20px;
}